//- SPDX-License-Identifier: Apache-2.0
span 
  slot(v-if='!isEditEnabled', v-bind='{ state: value }', name='format') 
    | {{ value }}
  v-text-field(v-else, v-bind='$attrs', v-bind:value='value', v-on='$listeners') 