//- SPDX-License-Identifier: Apache-2.0
span
  slot(v-if='!isEditEnabled', v-bind='{ state: value }', name='format')
    | {{ value }}
  v-text-field(
    @input="handleInput" 
    v-else,
    v-bind='$attrs',
    v-bind:value='value', 
    type='number'
  )