//- SPDX-License-Identifier: Apache-2.0
v-img(
  :aspect-ratio='aspectRatio',
  :alt='alt',
  :class='className',
  :title='title',
  :src='currentSrc',
  :height='height',
  :min-height='minHeight',
  :max-height='maxHeight',
  :width='width',
  :min-width='minWidth',
  :max-width='maxWidth',
  :style='styleDefinition',
  :contain='isContained',
  v-on:error='onImageError'
) 
