//- SPDX-License-Identifier: Apache-2.0
v-container
  v-row
    v-col.text-left(cols=12)
      h1
        | 3XR Privacy Policy
  v-row
    v-col(cols=12, md=10, offset-md=0)
      div(v-html="contractContent" )