//- SPDX-License-Identifier: Apache-2.0
v-container(fluid)
  v-row
    v-col
      h2 Release Notes
  v-row
    v-col
      h3 2021 - Thursday October 14th
      ul
        li
          p
            | Search complete by approval date
            br
            | Jobs on the complete page show the date and time approved, and can be sorted and filtered by that date
            br
            img.max-width-full(src='https://cdn.3xr.com/images/release-notes/2021-10-14-completed-approved-at.jpg')
      hr.my-3
  v-row
    v-col
      h3 2021 - Tuesday October 5th
      ul
        li
          p
            | Product Search
            br
            | Products can be searched by name from the search bar at the top of the site
            br
            img.max-width-full(src='https://cdn.3xr.com/images/release-notes/2021-10-05-search.jpg')
        li
          p
            | Favorites
            br
            | Click the heart on search results or on a product banner to add it to your favorites.
            br
            | View your saved favorites from the side navigation bar
            br
            img.max-width-full(src='https://cdn.3xr.com/images/release-notes/2021-10-05-favorites.jpg')
        li Bug Fix for loading products on the homepage
      hr.my-3
  v-row
    v-col
      h3 2021 - Thursday September 30th
      ul
        li Multi-month support on the billing page
        li Image viewer zoom support fixed
        li Various formatting and style improvements
      hr.my-3
  v-row
    v-col
      h3 2021 - Wednesday September 22st
      ul
        li
          p
            | Billing Page
            br
            | Studio Admins now have a billing page showing monthly charges for processed jobs.
            br
            img.max-width-full(src='https://cdn.3xr.com/images/release-notes/2021-09-22-billing-page.jpg')
      hr.my-3
  v-row
    v-col
      h3 2021 - Monday September 20th
      ul
        li
          p
            | Select all Jobs for Assigning Artists
            br
            | All jobs on a purchase order can be selected at once to assign them to an artist. The button changes to "Deselect All Jobs" when some are selected.
            br
            img.max-width-full(src='https://cdn.3xr.com/images/release-notes/2021-09-20-select-all-for-assign.jpg')
      hr.my-3
  v-row
    v-col
      h3 2021 - Friday September 17th
      ul
        li
          p
            | Bulk Downloads of Complete Jobs
            br
            | Multiple jobs can be selected and downloaded at once as GLB, USDZ, or ZIP files. Note that when selecting many jobs, it may take several minutes, generating a download file several gigabytes in size.
            br
            img.max-width-full(src='https://cdn.3xr.com/images/release-notes/2021-09-17-bulk-download.jpg')
      hr.my-3
  v-row
    v-col
      h3 2021 - Tuesday September 14th
      ul
        li
          p
            | Complete Jobs Tab
            br
            | A new tab for jobs in the complete status includes download links on the search results page.
            br
            img.max-width-full(src='https://cdn.3xr.com/images/release-notes/2021-09-14-complete-tab.jpg')
      hr.my-3
  v-row
    v-col
      h3 2021 - Monday September 6th
      ul
        li
          p
            | Improved Job Search Filters
            br
            | Client and/or Studio are disabled if there is only one linked to your account.
            br
            | Brand and Class require a Client to be selected first.
            br
            img.max-width-full(src='https://cdn.3xr.com/images/release-notes/2021-09-06-job-search-filters.jpg')
        li This release notes page
      hr.my-3