//- SPDX-License-Identifier: Apache-2.0
v-container(fluid)
  v-container
    v-row
      v-col(cols=12)
        h1
          | UNINSTALL GUIDE
      v-col(cols=12, md=10, offset-md=1)
        ol.pt-4
          li
            p
              | Select any published product and choose &quot;unpublish&quot;
            p.text-center
              img.screenshots(src='https://cdn.3xr.com/images/big-commerce/select-unpublished.png', width='100%')
            br
          li
            p
              | Confirm
            p.text-center
              img.screenshots(src='https://cdn.3xr.com/images/big-commerce/are-you-sure.png', width='100%')
            br
          li
            p Unistall from &quot;My Apps&quot;
            p.text-center
              img.screenshots(src='https://cdn.3xr.com/images/big-commerce/uninstall.png', width='100%')
            br
          li
            p Products that were not &quot;Unpublished&quot; will still have a custom field and will still show the 3D viewer. The 3D viewer can be removed by deleting this custom field, even after the 3XR app has been uninstalled.
            p.text-center
              img.screenshots(src='https://cdn.3xr.com/images/big-commerce/custom-field.png', width='100%')
            br