//- SPDX-License-Identifier: Apache-2.0
v-container(fluid)
  v-container
    v-row
      v-col(cols=12)
        h1
          | EASILY CONVERT YOUR BIG COMMERCE INVENTORY INTO AR
    v-row.light-blue-bkg
      v-col(cols=12, md=6)
        .pa-6
          p
            | 3XR’s BigCommerce integration is a turnkey AR Solution that allows users to create & host product specific AR experiences on their storefronts using pre-existing product data. Redefine how customers interact with your products by placing them in their space using 3XR’s immerse desktop & mobile experience.
          p
            | 3D content creation is a complicated process, tap into 3XR’s 3D asset production platform without straying from the ecommerce solution you are used to; unlock streamlined 3D asset creation, management and publishing to your site in one central location.
          h3
            | Ecomm retailers report a 20% conversion rate with a view in AR option.

      v-col(cols=12, md=6)
        img(src='https://cdn.3xr.com/images/big-commerce/BC-promo1-860x560.jpg', width='100%')
    v-row
      v-col(cols=12, md=10, offset-md=1)
        h1
          | GETTING STARTED
        ol.pt-4
          li
            p
              | Set up your 3XR account with your dedicated representative by reaching out to
              |
              a(href='mailto:sales@3xr.com')
                | sales@3xr.com
          li
            p
              | Authenticate your account with Big Commerce
          li
            p
              | Select products from your existing inventory to be exported to 3XR as new purchase orders. Bulk select to save time.
            p.text-center
              img.screenshots(src='https://cdn.3xr.com/images/big-commerce/fan-export.jpg', width='100%')
          li
            p
              | Go to 3XR to complete the purchase order. Your existing product details will be imported. Enter in the additional details as needed.
            p.text-center
              img.screenshots(src='https://cdn.3xr.com/images/big-commerce/fan-new-po.jpg', width='100%')
          li
            p
              | Review, edit, and approve the imported assets and details and submit to 3XR.
            p.text-center
              img.screenshots(src='https://cdn.3xr.com/images/big-commerce/fan-reviewed.jpg', width='100%')
          li
            p
              | The 3XR team will be reviewing your submission and assigning your products to 3D modelers. Once your assets are ready to review, you will be notified to log in and begin our simple QA process to ensure product accuracy.
            p.text-center
              img.screenshots(src='https://cdn.3xr.com/images/big-commerce/fan-QA-chrome-capture.gif', width='100%')
          li
            p
              | As your products are approved and completed, you will be ready to publish your new 3D assets directly on to your existing Big Commerce store front.
            p.text-center
              img.screenshots(src='https://cdn.3xr.com/images/big-commerce/fan-publish.jpg', width='100%')
          li
            p
              | Sit back and watch your conversion rate increase! Add new products at any time.
            p.text-center
              img.screenshots(src='https://cdn.3xr.com/images/big-commerce/fan-storefront.jpg', width='100%')