<!-- SPDX-License-Identifier: Apache-2.0 -->
<div>
  <div style="background-color: #0b82c5; text-align:left;  padding:2%">
    <img style="float: right; padding-right:20px;" width="120px" src="https://cdn.3xr.com/images/3xr-email.png" />
    <h1 style="color:#FFF;padding-left:8%; padding-top:20px; padding-bottom: 20px;">
      {{ header }}
    </h1>
  </div>
  <div style=" padding-right:10%; padding-left:10%; padding-top:20px;">
    <p>
      {{ content }}
    </p>
    <p style="padding-top:15px; padding-bottom:15px;">
      <a style="color:#FFF; cursor:pointer;" :href="href">
        <button
          style="cursor:pointer;background-color:#dda349; color:#FFF; border:none; border-radius:5px;  padding-left:15px;  padding-right:15px; padding-top:5px; padding-bottom:5px; font-size:20px">
          {{ buttonText }}
        </button>
      </a>
    </p>
    <div style="border-bottom:lightgray solid 2px"></div>
    <p>Have questions? Email <a style="color: #0b82c5;" href="mailto:sales@3xr.com">sales@3xr.com</a></p>
  </div>
</div>