//- SPDX-License-Identifier: Apache-2.0
v-container.fill-height(fluid)
  admin-tabs
  v-row.fill-height
    v-col.fill-height(cols=6)
      .clock#clock loading
    v-col.fill-height(cols=6)
      a#link
        .render#render