//- SPDX-License-Identifier: Apache-2.0
doctype html
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="robots", content="index, follow")
    meta(name="description" content="3XR empowers brands to enhance their online presence through a platform-based solution where brands can effectively create high quality, custom 3D content.")
    title="3XR - password required"
    script(type="module", src="https://unpkg.com/@google/model-viewer@1.2.1/dist/model-viewer.js")
    script(nomodule, src="https://unpkg.com/@google/model-viewer@1.2.1/dist/model-viewer-legacy.js")
    script(type="module", src="https://cdn.3xr.com/scripts/3xr_viewer.min.js")
    link(rel="icon", href="https://cdn.3xr.com/images/3xr_studio_icosahedron.ico")
    link(rel="apple-touch-icon" href="https://cdn.3xr.com/images/apple-touch-icon.png")
    style(type='text/css').
      html {
        height: 100%;
        margin: 0;
        padding: 0;
        width: 100%; }
      body {
        height: 100%;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;
        font-family: Helvetica, Verdana, sans-serif;
        color: #f00;
      }
  body
    h2.passwordTitle Password Required
    form(action='' method='POST')
      input(type='password' name='password')
      input(type='submit' value='Submit')
    if (invalid)
      h3 Invalid Password Entered