//- SPDX-License-Identifier: Apache-2.0
v-container(fluid)
  .error-message(v-if='errorMessage')
    | {{ errorMessage }}
  div(v-else)
    purchase-order-banner(:activeTab='3', :loading='loading')
    v-row
      v-col(cols=12)
        h2
          | Models ready for review
        p Coming Soon
