//- SPDX-License-Identifier: Apache-2.0
image-viewer(
  :images='product.referenceImages',
  :loading='loading',
  :showPrimaryImageStar='true',
  :showSecondaryImageStar='true',
  :showImageUploader='showImageUploader',
  :showRemoveImage='showRemoveImage',
  :onChangeImage='onChangeImage'
  :onClickImage='onClickImage',
  :onClickRemove='onClickRemove',
  :onClickSecondaryStar='onClickSecondaryStar'
)
