/* SPDX-License-Identifier: Apache-2.0 */
$dark-theme-background: #2e2e2e;

$theme-primary: #0b82c5;
$theme-primary-light: #4097cd;
$theme-primary-dark: #086092;
$theme-primary-text: #000;
$theme-primary-text-light: #0b3556;
$theme-primary-text-strong: #fff;

$theme-secondary: #f47d3a;
$theme-secondary-shadow: #9a4f25;
$theme-secondary-text: #000;
$theme-secondary-text-strong: #fff;

$theme-black: #111;
$theme-black-strong: #000;
$theme-white: #eee;
$theme-white-strong: #fff;
$theme-gray: #888;
$theme-gray-light: #bbb;
$theme-gray-dark: #444;
$theme-red: #d80000;
$theme-red-dark: #a22020;
$theme-green: #00d800;
$theme-yellow: #d8d800;
$theme-blue: #0000d8;
$theme-blue-light: #bcd6e8;

$theme-body-background: #bbb;
$theme-body-shadow: #444;
$theme-body-text: #222;
$theme-body-text-light: #bbb;
$theme-body-text-strong: #000;

$usdz-background-gray: #2e2e2e;
